body {
  color: #01050d;
  background: #f9f3f1ff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trueno Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

strong,
b,
a {
  font-family: "Trueno SemiBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

p {
  font-family: "Trueno Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  color: #04724dff; }
  a:hover {
    color: #8db38bff; }

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem; }
  header a {
    color: #01050d; }

.collage {
  /* Prevent vertical gaps */
  line-height: 0;
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 0px;
       column-gap: 0px; }

.collage img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important; }

@media (max-width: 768px) {
  .collage {
    -moz-column-count: 3;
         column-count: 3; } }

@media (max-width: 450px) {
  .collage {
    -moz-column-count: 2;
         column-count: 2; } }
