h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trueno Bold'; }

strong,
b,
a {
  font-family: 'Trueno SemiBold'; }

p {
  font-family: 'Trueno Regular'; }

a {
  text-decoration: none; }
  a:hover {
    color: pink; }
