body {
  color: #0b0c09ff;
  background: #f9f3f1ff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trueno Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

strong,
b,
a {
  font-family: "Trueno SemiBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

p {
  font-family: "Trueno Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  color: #04724dff; }
  a:hover {
    color: #8db38bff; }
